<!DOCTYPE html>
<html>
  <title>Crafteo - Ansible training</title>
  <link rel="canonical" href="https://crafteo.io/" />
  <link rel="stylesheet" href="https://crafteo.io/style.css">
 </head>
    <body id="page-top" class="index">
        <header>
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <a href="https://crafteo.io"><img class="img-responsive" src="https://crafteo.io/img/crafteo.svg" alt="profile-pic" /></a>
                  <div class="intro-text">
                    <span class="name">Ansible training</span>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <div class="row">
            <div class="col-lg-12 text-center">
                <hr class="star-light">
            </div>
        </div>
          <div class="row">
            <div class="col-lg-12 text-justify">
                <p class="text-center">I'm a simple page deployed via Ansible and Apache2</p>
                <p class="text-center"> My custom message from inventory is<b>: {{ apache_custom_message | default('None defined :( ') }}</b></p>
             </div>
        </div>
    </body>
